<a [routerLink]="isTv?['/','tv-show',movie.id]:(movie.media_type?(movie.media_type==='movie'?['/','movie',movie.id]:['/','tv-show',movie.id]):['/','movie',movie.id])">
  <mat-card class="movie-card">
    <img *ngIf="movie.poster_path" mat-card-image
         [lazyLoad]="'https://image.tmdb.org/t/p/w220_and_h330_face'+movie.poster_path"
         [defaultImage]="'assets/img/no_poster_available.jpg'"
         [alt]="movie.title ? movie.title : movie.name">
    <img *ngIf="!movie.poster_path" mat-card-image
         src="assets/img/no_poster_available.jpg"
         class="movie-header-card" [alt]="movie.title ? movie.title : movie.name">
    <mat-card-content>
      <mat-card-title *ngIf="movie.title">{{movie.title}}</mat-card-title>
      <mat-card-title *ngIf="movie.name">{{movie.name}}</mat-card-title>
      <p *ngIf="movie.release_date">
        <strong style="color: #F44336;">Release Date: </strong>{{movie.release_date | date}}
      </p>
      <p *ngIf="movie.first_air_date">
        <strong style="color: #F44336;">First Air Date: </strong>{{movie.first_air_date | date}}
      </p>
      <star-rating value="{{(movie.vote_average * 5) / 10}}" totalstars="5" checkedcolor="#FF1493" readonly
                   uncheckedcolor="#a0aec0" size="19px">{{movie}}</star-rating>
    </mat-card-content>
  </mat-card>
</a>
