<mat-sidenav-container  align="center">
  <mat-toolbar color="primary" class="container">
    <nav>
      <div class="container  m-auto flex flex-col md:flex-row justify-between items-center">
        <ul class='flex items-center flex-row justify-between  md:w-auto'>
          <div class='flex items-center'>
            <li><a
              class="pr-4 mt-0 md:ml-10 text-white hover:text-gray-300 transition ease-in duration-200 font-medium cursor-pointer"
              routerLink="/" routerLinkActive="active-route" [routerLinkActiveOptions]="{exact:true}">Home</a>
            </li>
            <li
              class='pr-4 mt-0 md:ml-10 text-white hover:text-gray-300 transition ease-in duration-200 font-medium cursor-pointer'
            ><a routerLink="/all-movies" routerLinkActive="active-route">Movies</a>
            </li>
            <li
              class='pr-4  mt-0 text-white hover:text-gray-300 transition ease-in duration-200 font-medium cursor-pointer'
            ><a routerLink="/all-tv-shows" routerLinkActive="active-route">TV-Show</a>
            </li>
            <li
              class='pr-4  mt-0 text-white hover:text-gray-300 transition ease-in duration-200 font-medium cursor-pointer'
            ><a routerLink="/genres" routerLinkActive="active-route">Genres</a>
            </li>
            <div class="flex items-center">
              <app-searchbar></app-searchbar>
            </div>
          </div>
        </ul>
      </div>
    </nav>
  </mat-toolbar>

  <router-outlet></router-outlet>

  <footer class="docs-footer">
    <div class="docs-footer-list">
      <div class="docs-footer-copyright">
        <p>Created by Maksym Kabak</p>
      </div>
    </div>
  </footer>
</mat-sidenav-container>

